h1 {
  color: darkblue;
}

h3 {
  color: grey;
  font-size: 15px;
  font-weight: 100;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 12px;
  font-weight: 100;
}

form {
  padding-bottom: 10px;
}
.units {
  font-size: 15px;
  position: relative;
  top: -8px;
}

.degrees {
  color: orangered;
}

.weathericon {
  width: 65px;
  padding: 5px;
}

#description:first-letter {
  text-transform: capitalize;
}

#searchengine {
  display: block;
  margin: 0 auto;
  text-align: left;
  font-size: 15px;
}

.search-input {
  font-size: 15px;
}
.updated {
  font-size: 12px;
  font-weight: 100;
  color: rgba(0, 0, 139, 0.555);
}

.container {
  max-width: 800px;
}
.precipitation {
  color: grey;
  font-size: 15px;
}
.button {
  color: rgba(0, 0, 139, 0.555);
  font-weight: 100;
  font-size: 12px;
  background-color: white;
  border: white;
  border-radius: 5px;

  transition: ease-in-out 200ms;
}
.button:hover {
  color: white;
  background-color: darkblue;
}

.card {
  padding: 20px;
  margin: 20px;
}
.card-title {
  color: darkblue;
}

.col-sm-6 {
  padding: 0;
}
.footnote {
  color: grey;
  font-size: 10px;
  text-align: center;
}

.gitLink {
  color: darkblue;
  transition: ease-in-out 200ms;
}

.gitLink:hover {
  color: grey;
}

.forecast-date {
  font-size: 15px;
  color: darkblue;
  margin-top: 20px;
}

.forecast {
  text-align: center;
}
.forecast-temperatures-max {
  font-size: 12px;
  color: darkblue;
}

.forecast-temperatures-min {
  font-size: 12px;
  color: rgba(0, 0, 139, 0.555);
}
